.section {
    background: rgb(225, 233, 255);
    background: var(--backgroundColor); 
    border: 6px solid white;
    border-top: 16px solid rgb(57, 54, 240);
    padding: 8px;
    border-radius: 4px;
    &__avatar {
        max-width: 100%;
        display: block;
        box-sizing: border-box;
        width: 150px;
        height: 150px;
        border: 2px solid rgb(57, 54, 240);
        border-radius: 100%;
    }
    &__header {
        color: rgb(32, 29, 221);
    }
    a {color: inherit;}
}