html {
    box-sizing: border-box;    
    }

*, *:before, *:after {
    box-sizing: inherit;
    }

.my-body {
    background: rgb(120, 168, 241);
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif
    }

.footer {    
    padding: 8px;
    background: rgb(219, 219, 255);
    max-width: 768px;
    margin: 0 auto;
}
.footer__content {
    color: rgb(48, 48, 48);
}

.header {
    max-width: 768px;
    margin: 0 auto;
    position: sticky;
    top: 0;
}

section a {color: inherit;}

.section {
    background: rgb(120, 174, 211);
    border: 6px solid white;
    border-top: 16px solid rgb(57, 54, 240);
    padding: 8px;
    border-radius: 4px;
}
.section__avatar {
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 2px solid rgb(57, 54, 240);
    border-radius: 100%;
}
.section__header {
    color: rgb(57, 54, 240);
}

.navigation {
    padding: 16px;
    background: rgb(57, 54, 240);
}

.navigation__link {
    color: white;
}

.my-article {    
    margin-bottom: 32px;
}

.my-article__header {
   color: rgb(20, 20, 20)
}

.my-article__paragraph {
    background: rgb(177, 206, 248);
    border-radius: 8px;
    padding: 8px;
    line-height: 1.75;
    font-size: 16px;
}

.page-header {
    color: rgb(0, 0, 173);
    padding: 8px;    
}

.page-header__heading {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

main {
    max-width: 768px;
    margin: 0 auto;
}

.footer__top-link {
    position: fixed;
    bottom: 16px;
    right: 16px;
    color: white;
    padding: 8px 12px;
    background: blue;
    display: block;
    border-radius: 8px;
}